@media screen and (max-width: 375px) {
    body {
        display: grid;
        grid-template-areas:
            "header"
            "input"
            "botones"
            "output"
            "copiar";
        grid-template-rows: 0.1fr 1fr 0.4fr 0.5fr 0.2fr;
        grid-template-columns: 1fr;
        background-color: #E5E5E5;
    }

    #botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        justify-items: center;
        flex-grow: 1;
    }

    #encriptar {
        margin: 1%;
        background-color: #0A3871;
        border-radius: 24px;
        color: white;
        padding: 20px;
        font-size: 20px;
        cursor: pointer;
    }

    #desencriptar {
        margin: 1%;
        background-color: #D8DFE8;
        border-radius: 24px;
        border: 1px solid #0A3871;
        padding: 20px;
        font-size: 20px;
        cursor: pointer;
    }

    #btnCopiar {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) and (min-width: 374px) {
    body {
        display: grid;
        grid-template-areas:
            "header"
            "input"
            "botones"
            "output"
            "copiar";
        grid-template-rows: 0.1fr 1fr 0.3fr 0.5fr 0.3fr;
        grid-template-columns: 1fr;
        background-color: #E5E5E5;
    }

    #outPutText {
        grid-area: output;
        margin: 10px;
    }

    #outPutText2 {
        width: 99%;
        height: 98%;
        resize: none;
        border-radius: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
    }

    #encriptar {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 1%;
        background-color: #0A3871;
        border-radius: 24px;
        color: white;
        font-size: 120%;
        cursor: pointer;
    }

    #desencriptar {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 1%;
        background-color: #D8DFE8;
        border-radius: 24px;
        border: 1px solid #0A3871;
        font-size: 120%;
        cursor: pointer;
    }

}

@media screen and (min-width: 767px) {
    body {
        display: grid;
        grid-template-areas:
            "header output"
            "input output"
            "botones copiar";
        grid-template-rows: 0.1fr 1fr 0.3fr;
        grid-template-columns: 1fr 0.5fr;
        background-color: #E5E5E5;
    }

    #encriptar {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 1%;
        background-color: #0A3871;
        border-radius: 24px;
        color: white;
        font-size: 120%;
        cursor: pointer;
    }

    #desencriptar {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 1%;
        background-color: #D8DFE8;
        border-radius: 24px;
        border: 1px solid #0A3871;
        font-size: 120%;
        cursor: pointer;
    }

    #outPutText2:not(:placeholder-shown) {
        background-image: none
    }

    #outPutText2:placeholder-shown {
        background-image: url('./Imagenes/Muñeco.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

#Logo {
    grid-area: header;
    font-family: 'Inter';
    font-style: normal;
    font-size: 40px;
}

#Logo h1 {
    margin: 0px;
    padding: 0px;
    background-color: #D8DFE8;
}

#inputText {
    grid-area: input;
    margin: 10px;
    height: 400px;
    text-align: center;

}

#inputText2 {
    width: 90%;
    height: 90%;
    border: none;
    resize: none;
    font-weight: 400;
    font-size: 32px;
    font-family: 'Inter';
    font-style: normal;
    line-height: 150%;
    background-color: #E5E5E5;
    outline: none;

}

#outPutText {
    grid-area: output;
    margin: 10px;
}

#outPutText2 {
    width: 99%;
    height: 98%;
    resize: none;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
}

#botones {
    grid-area: botones;
    margin: 10px;
    height: 60px;
    text-align: center;
}

#btnCopiar {
    grid-area: copiar;
    margin: 10px;
    height: 60px;
    text-align: center;
    justify-content: center;
}

#copiar {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 1%;
    background-color: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-size: 120%;
    cursor: pointer;
}

#alert {
    color: #495057;
    font-size: 80%;
    text-align: justify;
    width: 50%;
    padding-left: 15%;
}

#alertImg {
    width: 12px;
    height: 12px;
    color: #495057;
}